In [2]:
import json
import pandas as pd
import os

In [11]:
path="/home/akel/PycharmProjects/Data_ambiental/data/raw/"
filename_a='tabela1699.csv'

dfa = pd.read_csv(path+filename_a,sep=';',skiprows=4)
#removendo o sufixo da variavel bairro  - Belém (PA)
dfa['Bairro'] = dfa['Bairro'].str.replace(' - Belém (PA)', '', regex=False).str.strip()

dfa=dfa.rename(columns={
    "Total": "alfabetização"
})
dfa["alfabetização"] = dfa["alfabetização"].str.replace(",", ".", regex=False).astype(float)
dfa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Bairro         71 non-null     object
 1   alfabetização  71 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.2+ KB

In [12]:
# salvar os novos dados
def salvar_csv(df, caminho):
    if os.path.exists(caminho):
        print(f"⚠️ Arquivo já existe e NÃO será sobrescrito: {caminho}")
    else:
        df.to_csv(caminho, index=False)
        print(f"✅ Arquivo salvo: {caminho}")

path = '/home/akel/PycharmProjects/Data_ambiental/data/process/'
salvar_csv(dfa, path + 'tabela1699_final.csv')

✅ Arquivo salvo: /home/akel/PycharmProjects/Data_ambiental/data/process/tabela1699_final.csv

In [16]:
path = '/home/akel/PycharmProjects/Data_ambiental/data/process/'
filename_total='tabela_total_final.csv'
df_t = pd.read_csv(path+filename_total)

df_t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Bairro      71 non-null     object
 1   Habitações  71 non-null     int64
 2   Moradores   71 non-null     int64
 3   Média       71 non-null     float64
 4   N           71 non-null     float64
 5   avg         71 non-null     float64
 6   mdn         71 non-null     float64
dtypes: float64(4), int64(2), object(1)
memory usage: 4.0+ KB

In [19]:
# # Merge pela chave "Bairro"
df_final = df_t.merge(dfa, on='Bairro', how='left')
df_final

,Bairro,Habitações,Moradores,Média,N,avg,mdn,alfabetização
0,Batista Campos,5795,19062,3.29,11763.0,3742.05,2000.0,99.20
1,Canudos,3619,13789,3.81,7863.0,1275.72,700.0,98.07
2,Cidade Velha,3086,12119,3.93,6976.0,1931.71,1000.0,98.64
3,Condor,10414,42699,4.10,20917.0,845.55,510.0,96.38
4,Cremação,8324,31257,3.76,17096.0,1769.97,800.0,98.18
...,...,...,...,...,...,...,...,...
66,Murubira,437,1517,3.47,778.0,703.39,510.0,91.45
67,Bonfim,210,776,3.70,209.0,534.64,480.0,86.49
68,Marahú,42,132,3.14,72.0,1545.19,740.5,99.22
69,Paraíso,95,315,3.32,172.0,740.55,500.0,95.16
70,Baía do Sol,589,2414,4.10,1119.0,661.48,510.0,92.12

In [65]:
# salvar os novos dados
def salvar_csv(df, caminho):
    if os.path.exists(caminho):
        print(f"⚠️ Arquivo já existe e NÃO será sobrescrito: {caminho}")
    else:
        df.to_csv(caminho, index=False)
        print(f"✅ Arquivo salvo: {caminho}")

path = '/home/akel/PycharmProjects/Data_ambiental/data/process/'

salvar_csv(df_final, path + 'tabela_total_final.csv')

⚠️ Arquivo já existe e NÃO será sobrescrito: /home/akel/PycharmProjects/Data_ambiental/data/process/tabela_total_final.csv

In [70]:
path="/home/akel/PycharmProjects/Data_ambiental/data/raw/"
filename_i='Bairros_IDH.csv'
dfi= pd.read_csv(path+filename_i)

dfi.columns

Index(['Bairro', 'IDH-R', 'IDH-L', 'IDH-E', 'IDH'], dtype='object')

In [76]:
a=df_final['Bairro'].unique().tolist()
i=dfi['Bairro'].unique().tolist()

print(list(set(i) - set(a)))    
print(list(set(a) - set(i)))

[]
[]

In [77]:
df_final2=df_final.merge(dfi, on='Bairro', how='left')
df_final2

,Bairro,Habitações,Moradores,Média,N,avg,mdn,alfabetização,IDH-R,IDH-L,IDH-E,IDH
0,Batista Campos,5795,19062,3.29,11763.0,3742.05,2000.0,99.20,0.869,0.901,0.829,0.866
1,Canudos,3619,13789,3.81,7863.0,1275.72,700.0,98.07,0.751,0.873,0.752,0.790
2,Cidade Velha,3086,12119,3.93,6976.0,1931.71,1000.0,98.64,0.828,0.891,0.802,0.840
3,Condor,10414,42699,4.10,20917.0,845.55,510.0,96.38,0.616,0.769,0.549,0.644
4,Cremação,8324,31257,3.76,17096.0,1769.97,800.0,98.18,0.690,0.825,0.668,0.724
...,...,...,...,...,...,...,...,...,...,...,...,...
66,Murubira,437,1517,3.47,778.0,703.39,510.0,91.45,0.701,0.826,0.663,0.727
67,Bonfim,210,776,3.70,209.0,534.64,480.0,86.49,0.562,0.723,0.463,0.573
68,Marahú,42,132,3.14,72.0,1545.19,740.5,99.22,0.625,0.760,0.553,0.640
69,Paraíso,95,315,3.32,172.0,740.55,500.0,95.16,0.625,0.760,0.553,0.640
70,Baía do Sol,589,2414,4.10,1119.0,661.48,510.0,92.12,0.625,0.760,0.553,0.640

In [79]:
# salvar os novos dados
def salvar_csv(df, caminho):
    if os.path.exists(caminho):
        print(f"⚠️ Arquivo já existe e NÃO será sobrescrito: {caminho}")
    else:
        df.to_csv(caminho, index=False)
        print(f"✅ Arquivo salvo: {caminho}")

path = '/home/akel/PycharmProjects/Data_ambiental/data/process/'

salvar_csv(df_final2, path + 'tabela_total_final.csv')

✅ Arquivo salvo: /home/akel/PycharmProjects/Data_ambiental/data/process/tabela_total_final.csv

In [ ]:
path="/home/akel/PycharmProjects/Data_ambiental/data/process/"
filename_i='Bairros_IDH.csv'
dfi= pd.read_csv(path+filename_i)