In [14]:
import json
import pandas as pd
import geopandas as gpd
from shapely.geometry import Polygon

with open("setores_coleta_zona_sul.json", "r", encoding="utf-8") as f:
    data1 = json.load(f)

df1 = pd.json_normalize(
    data1,
    sep=".",
    max_level=1)


with open("setores_coleta_72.json", "r", encoding="utf-8") as f:
    data2 = json.load(f)

df72 = pd.json_normalize(
    data72,
    sep=".",
    max_level=1)

len(df20['nom_area_coleta'])
len(df72['nom_area_coleta'])

display(df1.columns)
display(df72.columns)

Index(['seq_area_coleta', 'nom_area_coleta', 'area_json',
       'area_coleta_horario', 'position.latitude', 'position.longitude'],
      dtype='object')

Index(['seq_area_coleta', 'nom_area_coleta', 'area_json',
       'area_coleta_horario', 'position.latitude', 'position.longitude'],
      dtype='object')

In [13]:
# Concatena os DataFrames
df_unido = pd.concat([df20, df72], ignore_index=True)

print(f"Total de registros: {len(df_unido)}")

# Verifica duplicatas usando apenas colunas que não são listas
colunas_simples = [col for col in df_unido.columns 
                  if not any(isinstance(x, list) for x in df_unido[col].head())]

print(f"Duplicatas baseadas em colunas simples: {df_unido[colunas_simples].duplicated().sum()}")

# Mostra informações básicas
print(f"DF20: {len(df20)} registros")
print(f"DF72: {len(df72)} registros")
print(f"DF Unido: {len(df_unido)} registros")

# CORREÇÃO: Usar as colunas que realmente existem
colunas_para_duplicatas = ['nom_area_coleta', 'seq_area_coleta']  # Colunas que existem
df_unido_sem_duplicatas = df_unido.drop_duplicates(subset=colunas_para_duplicatas)

print(f"Após remover duplicatas por colunas específicas: {len(df_unido_sem_duplicatas)} registros")

Total de registros: 98
Duplicatas baseadas em colunas simples: 0
DF20: 26 registros
DF72: 72 registros
DF Unido: 98 registros
Após remover duplicatas por colunas específicas: 82 registros

In [10]:

# rows = []

# for item in data:
#     seq = item["seq_area_coleta"]
#     setor = item["nom_area_coleta"]
#     lat = item["position"]["latitude"]
#     lng = item["position"]["longitude"]
#     horario=item["horario"]
#     dias=item['dias_da_semana']
    

#     # Extrair o polígono
#     feature = item["area_json"][0]
#     coords = feature["geometry"]["coordinates"][0]  # lista de [lng, lat]

#     polygon = Polygon(coords)

#     rows.append({
#         "area_coleta": seq,
#         "setor": nome,
#         "horario":horario,
#         "dias":dias,
#         "latitude_ref": lat,
#         "longitude_ref": lng,
#         "geometry": polygon
#     })

# gdf = gpd.GeoDataFrame(rows, crs="EPSG:4326")
# gdf

df_unido_sem_duplicatas

,seq_area_coleta,nom_area_coleta,area_json,area_coleta_horario,position.latitude,position.longitude
0,242,Setor 1301,"[{'type': 'Feature', 'geometry': {'type': 'Pol...","[{'num_dia_semana': 1, 'num_hora_inicial': '06...",-1.469175,-48.499093
1,253,Setor 1302,"[{'type': 'Feature', 'geometry': {'type': 'Pol...","[{'num_dia_semana': 1, 'num_hora_inicial': '06...",-1.469175,-48.486715
2,276,Setor 1304,"[{'type': 'Feature', 'geometry': {'type': 'Pol...","[{'num_dia_semana': 1, 'num_hora_inicial': '06...",-1.469175,-48.474337
3,298,Setor 1306,"[{'type': 'Feature', 'geometry': {'type': 'Pol...","[{'num_dia_semana': 1, 'num_hora_inicial': '06...",-1.469175,-48.461960
4,212,Setor 1308,"[{'type': 'Feature', 'geometry': {'type': 'Pol...","[{'num_dia_semana': 1, 'num_hora_inicial': '06...",-1.469175,-48.449582
...,...,...,...,...,...,...
78,281,Setor 1121,"[{'type': 'Feature', 'geometry': {'type': 'Pol...","[{'num_dia_semana': 2, 'num_hora_inicial': '06...",-1.294397,-48.473027
79,301,Setor 1909,"[{'type': 'Feature', 'geometry': {'type': 'Pol...","[{'num_dia_semana': 2, 'num_hora_inicial': '18...",-1.294397,-48.470774
80,286,Setor 1219,"[{'type': 'Feature', 'geometry': {'type': 'Pol...","[{'num_dia_semana': 1, 'num_hora_inicial': '06...",-1.285388,-48.482039
81,288,Setor 1220,"[{'type': 'Feature', 'geometry': {'type': 'Pol...","[{'num_dia_semana': 1, 'num_hora_inicial': '06...",-1.274126,-48.448245
82,262,Setor 1221,"[{'type': 'Feature', 'geometry': {'type': 'Pol...","[{'num_dia_semana': 1, 'num_hora_inicial': '06...",-1.274126,-48.445993